$select: ".button" !default;

// config
@use "./../config/fonts";
@use "./../config/colors";
@use "./../config/queries";

// components
@use "Shared/scss/templates/base/components/button";

@mixin base {
    @include button.base {
        --background-color: white;
        --border-color: #{colors.get(base)};
        --text-color: #{colors.get(base)};
        --text-color-rollover: var(--text-color);
        --button-padding: 0.5em;

        border: 1px solid var(--border-color);
        color: var(--text-color);

        text-transform: uppercase;
        transition: 0.3s ease-in-out;
        font: 500 fonts.rem(16) var(--main-font-family);

        padding: var(--button-padding);

        &:before {
            background: var(--background-color);
        }

        &:not([disabled])::after {
            background: colors.get(first);
        }

        &::before,
        &::after,
        > span {
            border-radius: inherit;
        }

        &:hover,
        &:focus {
            color: var(--text-color-rollover);
            border-color: var(--text-color-rollover);
        }

        &[aria-expanded="true"] {
            color: var(--background-color);
            border-color: var(--text-color);

            &::after {
                background: var(--text-color);
                opacity: 1;
            }
        }

        @media all and (min-width: queries.get(document-mobile-portrait)) {
            --button-padding: 0.75em 1.25em;
        }

        &[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    #{$select} {
        @content;
    }
}

@mixin view-products {
    @include button.name-color-map(
        $namespace: "view-products",
        $background-color: white,
        $text-color: #777,
        $border-color: #777
    );

    #{$select} {
        &--view-products {
            #{$select} {
            }

            @content;
        }
    }
}

@mixin checkout {
    #{$select} {
        &--checkout {
            --background-color: var(--color-first);
            --border-color: var(--background-color);
            --text-color: white;
            --text-color-rollover: var(--color-first);

            #{$select} {
            }

            @content;
        }
    }
}

@mixin retailer {
    @include button.name-color-map(
        "retailer",
        colors.get(highlight),
        colors.get(light)
    );

    #{$select} {
        &--retailer {
            #{$select} {
            }

            @content;
        }
    }
}

@mixin express-checkout {
    @include button.express-checkout;
}

@mixin stormcloud {
    @include button.name-color-map(
        "stormcloud",
        colors.primary(stormcloud-hue-3),
        colors.get(light)
    );

    #{$select} {
        &--stormcloud {
            #{$select} {
            }

            @content;
        }
    }
}

@mixin transparent {
    #{$select} {
        &--transparent {
            --background-color: transparent;
            --border-color: var(--main-text-color);
            --text-color: var(--main-text-color);
            --text-color-rollover: black;
            --button-padding: 0.25em 0.75em;

            font-size: fonts.rem(24);
            border-width: 2px;

            #{$select} {
            }

            @content;
        }
    }
}
