@use "sass:math";

$base: 1 !default;
$scroll-offset: 2em !default;

// config
@use "./../config/fonts";
@use "./../config/queries";

// layouts
@use "Shared/scss/templates/base/layouts/document";

// abstracts
@use "Shared/scss/templates/base/abstracts/background";

@mixin base {
    @include document.base;

    h1 {
        font-size: fonts.rem(40);
    }

    h2,
    legend {
        font-size: fonts.rem(40);
    }

    h3 {
        font-size: fonts.rem(25);
    }

    a[href^="mailto:"] {
        word-break: break-all;
    }

    ol {
        list-style: decimal;
    }

    input {
        line-height: inherit;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    sup {
        bottom: 0.75em;
    }
}

@function get-scroll-offset($element-height: 100) {
    @return calc(#{queries.em($element-height)} + #{$scroll-offset});
}

@mixin root {
    --main-font-family: arboria, sans-serif;

    --main-text-color: white;
    --main-background-color: #dc14ab;
    --main-background-gradient: linear-gradient(
        90deg,
        #c7a64a,
        #d9bf69 23%,
        #f9e88a 50%,
        #d9bf69 75%,
        #c7a64a 100%
    );

    scroll-behavior: smooth;
    scroll-padding-top: get-scroll-offset(0);

    @media all and (max-width: queries.get(nav-max)) {
        scroll-padding-top: get-scroll-offset(0);
    }

    font-size: #{$base}rem;

    @media all and (max-width: queries.get(document-mobile-portrait)) {
        font-size: clamp(#{math.div($base, 2)}rem, 3.5vw, #{$base}rem);
    }
}

@mixin body {
    font: fonts.rem(16) var(--main-font-family);
    line-height: 1.45;
    color: var(--main-text-color);

    @include background.color-map(
        $background-color: var(--main-background-color),
        $text-color: var(--main-text-color)
    );
}
